@font-face {
  font-family: CircularStd-Bold;
  src: url(./fonts/CircularStd-Bold.otf);
}
@font-face {
  font-family: CircularStd-Medium;
  src: url(./fonts/CircularStd-Medium.otf);
}
* {
  font-family: CircularStd-Medium;
  margin: 0%;
  font-size: 18px;
  /* line-height: 1.5; */
  color: #001140;
}
.nav {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12dvh;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-content {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.nav-content li {
  list-style-type: none;
  margin-right: 20px;
}

.nav-content li:last-child {
  margin-right: 0;
}

.nav-content a {
  text-decoration: none;
  color: #fff;
}
.nav-content #get-started {
  background-color: #007bff;
  padding: 15px;
  border-radius: 5px;
  font-size: 8px;
}
.get-started {
  margin-right: 5rem;
}
.nav-content #get-started a {
  font-size: 14px;
  margin: 10px;
}
li a {
  font-size: 14px;
  font-weight: 100;
}
.dropdown {
  position: relative;
}
.dropdown a {
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  color: black;
  background-color: white;
  min-width: 480px;
  min-height: 425px;
  z-index: 1;
  border-radius: 5px;
}
.dropdown-content a {
  color: #001140;
  padding: 10px;
  transition: background-color 0.3s;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.tabs {
  height: 5.5dvh;
  background-color: white;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: fixed;
  top: 12dvh;
}
.tab {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
}
.tab:hover {
  border-bottom: 3px solid #4d84ff;
}
button {
  background: gray;
  color: white;
  padding: 20px;
  border-radius: 2px;
  margin: 5px;
}
body {
  width: 100%;
  margin: 0%;
}
section {
  height: 100dvh;
  padding-right: 5rem;
  padding-left: 3rem;
  margin-bottom: 5rem;
}
main {
  margin-top: 20dvh;
  margin-bottom: 20dvh;
}
.hero {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 239, 186, 0.3),
    rgba(228, 255, 250, 0.4) 80%,
    #fdfff5,
    white 20%
  );
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
#hero-blue {
  color: #2b62f5;
  font-size: 60px;
}
.hero-left > h1 {
  font-family: CircularStd-Bold;
  color: #001140;
  font-size: 60px;
}
.hero-left > p {
  font-size: 18px;
}
#app-links {
  display: flex;
  gap: 15px;
}
.hero-right {
  max-width: 650px;
}
.hero-right > img {
  width: 100%;
}
#hero-left-bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.create-portfolio {
  display: flex;
}
.portfolio-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.portfolio-left > h1 {
  font-size: 40px;
}
.portfolio-right {
  width: max-content;
}
.portfolio-right > img {
  max-width: 700px;
}
.investment {
  display: flex;
  height: max-content;
}
.investments {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  border-left: 2px solid #d0d5e0;
}
.investment-left {
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.investment-left > h1 {
  font-size: 40px;
}
.investment-point {
  padding-left: 1rem;
  display: flex;
  gap: 0.5rem;
}
.investment-point > img {
  aspect-ratio: 1/1;
}
.investment-point-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}
.investment-right {
  height: max-content;
  background-color: rgba(240, 244, 253);
}
.investment-right > img {
  margin-top: 10.938rem;
  max-width: 480px;
}
.feature {
  display: flex;
  gap: 2rem;
}
.feature-left {
  max-width: 590px;
  max-height: 570px;
}
.feature-left > img {
  width: 100%;
}
.feature-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.feature-right > h1 {
  font-size: 40px;
}
.feature-right-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature-right > button {
  font-size: 14px;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  width: max-content;
  background-color: #4d84ff;
  color: white;
}
.getting-started {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 0%;
  margin-right: 5rem;
  margin-left: 3rem;
  background: linear-gradient(
    rgba(255, 239, 186, 0.25),
    rgba(228, 255, 250, 0.4) 90%,
    white 10%
  );
  display: flex;
  justify-content: space-between;
  height: min-content;
}
.gs-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3rem;
}
.gs-left > h1 {
  font-size: 40px;
}
.gs-left-elements {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.gs-left-element {
  display: flex;
  font-size: 24px;
  gap: 1rem;
}
.gs-left-element > span {
  width: 2rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: 2px solid #001140;
}
.learn-more {
  margin: 0 3rem;
  background-color: #001140;
  padding-top: 5rem;
  height: max-content;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  gap: 3rem;
}
.learn-more > * {
  color: white;
  text-align: center;
}
.learn-more > h1 {
  font-size: 50px;
  width: 60%;
}
.learn-more > h3 {
  width: 45%;
}
.learn-more > button {
  padding: 0.5rem 1.5rem;
  background-color: #4d84ff;
  border: none;
  border-radius: 5px;
}
.mailing-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  margin: 3rem;
  gap: 4rem;
  background-image: url(./assets/mailing-bg-mobile.png);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.mailing-list-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}
.mailing-list-left * {
  color: white;
}
.mailing-list-left > h1 {
  font-size: 30px;
}
.mailing-list-right {
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 1rem;
}
.ml-top {
  display: flex;
  gap: 2rem;
}
.ml-bottom {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
}
.ml-input {
  padding: 0.5rem 1rem;
  width: 180px;
  border-radius: 5px;
  border: none;
}
.ml-btn {
  width: 220px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  margin: 0;
  border: none;
  background-color: #8791a7;
  font-size: 14px;
}
#investors {
  width: 220px;
  height: min-content;
}
footer {
  background-color: #020b27;
  height: max-content;
  padding: 4rem 8rem;
}
.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links * {
  color: white;
  text-decoration: none;
}
.support {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.support * {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.socials {
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 2rem;
}
.social-media {
  display: flex;
  justify-content: space-between;
}
.products {
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.links h1 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
hr {
  margin-top: 2rem;
  border: 1px solid #d0d5e0;
}
.footer-bottom {
}
.footer-bottom * {
  color: white;
  line-height: 1.5;
}
.footer-bottom :nth-child(1) {
  margin-top: 3rem;
}
.footer-bottom :nth-child(2) {
  margin-bottom: 5rem;
}
